<footer class="primary-color d-flex flex-row">
  <div class="me-auto flex-row d-flex gap-3">
    <h6>SlyFox Market AG</h2>
    <a href="https://www.e-recht24.de/impressum-generator.html">Impressum</a>
  </div>
    <div>
      <span>1965015 | Aziz Carducci | TINF22F</span>
    </div>
    <div class="ms-auto">
      <a href="mailto:info@slyfoxmarket.de">Kontakt</a>
    </div>
</footer>