<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrierung</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    @vite(['resources/css/login.css', 'resources/js/app.js'])
</head>

<body class="d-flex justify-content-center align-items-center">

    <div class="page-container p-4">
        <div class="d-flex align-items-center flex-column-reverse ">
            <h1>Registrierung</h1>
            <img src="/Site_Graphics/logo.png" width="30%" alt="logo">
        </div>
        <form action="/Registrierung" method="post">
            {{ csrfField() }}
            <div class="d-flex flex-column">
                @if(error)
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
                @end
                <div class="d-flex flex-row gap-2">
                    <div class="w-50">
                        <label for="vorname">Vorname:</label>
                        <br>
                        <input type="text" id="vorname" name="vorname" placeholder="Vorname eingeben">
                    </div>
                    <div class="w-50">
                        <label for="nachname">Nachname:</label>
                        <br>
                        <input type="text" id="nachname" name="nachname" placeholder="Nachname eingeben">
                    </div>
                </div>
                <label for="email">E-Mail-Adresse:</label>
                <input type="email" id="email" name="email" placeholder="E-Mail-Adresse eingeben" required>
                @inputError('email')
                <div class="alert alert-danger" role="alert">
                    <span>Email Falsch</span>
                </div>
                @end
                <label for="benutzername">Benutzername:</label>
                <input type="text" id="benutzername" name="benutzername" placeholder="Benutzername eingeben" required>
                @inputError('benutzername')
                <div class="alert alert-danger" role="alert">
                    <span>Benutzername Falsch</span>
                </div>
                @end
                <label for="password">Passwort:</label>
                <input type="password" id="password" name="password" placeholder="Passwort eingeben" required>
                @inputError('password')
                <div class="alert alert-danger" role="alert">
                    <span>Passwort Falsch</span>
                </div>
                @end
                <div class="form-check mt-3">
                    <input type="checkbox" class="form-check-input" required id="agb" name="agb">
                    <label class="form-check-label " for="agb">Mit der Registrierung erkläre ich mich mit den <a
                            href="#">AGB</a> und der <a href="#">Datenschutzerklärung</a> von ...
                        einverstanden</label>
                </div>
                <button type="submit" class="mt-3">Registrieren</button>
            </div>
        </form>
        <p class="mt-3">Bereits ein Account? <a href="Login">Hier anmelden</a></p>
    </div>
</body>

</html>