<!DOCTYPE html>
<html lang="de">

<head>
    @include('partials/head')
    <title>SlyFox Market - Profile</title>
    @vite(['resources/css/app.css', 'resources/js/header.js', 'resources/js/password_validation.js'])
    <style>
        .input-style {
            border: 1px solid #ced4da;
        }
    </style>
</head>

<body>
    @include('partials/header')
    <div class="d-flex flex-row ">
        <div class="routes_banner">
            <span>Profil bearbeiten</span>
            <span><a href="/Deine_Anzeigen">Meine Anzeigen</a></span>
            <span><a href="/Favorisierte_Anzeigen">Favorisierte Anzeigen</a></span>
            <span><a href="/Deine_Chats">Meine Nachrichten</a></span>
        </div>
        <form action="/Profil" method="post" enctype="multipart/form-data">
            {{ csrfField() }}
            <div class="d-flex flex-row">
                <div class="flex-fill ms-5">
                    <h3>Profilbild ändern</h3>
                    <div class="profile-img text-center me-4">
                        <img src="/profilepictures/{{current_user.profilbild}}" alt="Profilbild">
                        <input type="file" id="profile-file" name="profilepicture" class="form-control">
                    </div>
                </div>
                <div class="flex-fill ms-5">
                    <h3>Profilinformationen</h3>
                    <div class="mb-3">
                        <label for="vorname" class="form-label">Vorname:</label>
                        <input type="text" id="vorname" class="form-control input-style" name="vorname"
                            value="{{current_user.vorname}}" minlength="2">
                    </div>
                    <div class="mb-3">
                        <label for="nachname" class="form-label">Nachname:</label>
                        <input type="text" id="nachname" class="form-control input-style" name="nachname"
                            value="{{current_user.nachname}}">
                    </div>
                    <div class="mb-3">
                        <label for="benutzername" class="form-label">Benutzername:</label>
                        <input type="text" id="benutzername" class="form-control input-style" name="benutzername"
                            value="{{current_user.benutzername}}">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email:</label>
                        <input type="email" id="email" class="form-control input-style" name="email"
                            value="{{current_user.email}}">
                    </div>
                </div>
                <div class="flex-fill ms-5">
                    <h3>Passwort ändern</h3>
                    <div class="mb-3">
                        <label for="oldpasswort" class="form-label">Altes Passwort:</label>
                        <input type="password" id="oldpasswort" class="form-control input-style" name="oldpasswort"
                            placeholder="Derzeitiges Passwort">
                    </div>
                    <div class="mb-3">
                        <span><label for="password" class="form-label">Neues Passwort:</label><img class="ms-5"
                            id="info-image" src="/Site_Graphics/info.png" width="25" height="25"></span>
                        <input type="password" id="password" class="form-control input-style" name="password"
                            placeholder="Neues Passwort">
                        <div id="guidelines" class="hidden">
                            <ul>
                                <li id="length">At least 8 characters</li>
                                <li id="uppercase">At least one uppercase letter</li>
                                <li id="lowercase">At least one lowercase letter</li>
                                <li id="number">At least one number</li>
                                <li id="special">At least one special character</li>
                            </ul>
                        </div>
                    </div>
                    <div class="d-flex justify-content-start ">
                        <button class="primary-color input-button" type="submit">Ändern</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- Input, Error, and success Messages -->
    <div class="text-center">
        @inputError('profilepicture')
        <div class="alert alert-danger" role="alert">
            <span>Das Bild darf nicht größer als 2MB sein und muss ein .jpg, .jpeg oder .png Format
                haben</span>
        </div>
        @end
        @inputError('benutzername')
        <div class="alert alert-danger" role="alert">
            <span>Der Benutzername darf nicht leer sein und muss zwischen 3-20 Zeichen sein</span>
        </div>
        @end
        @inputError('email')
        <div class="alert alert-danger" role="alert">
            <span>Die Email darf nicht leer sein oder ist nicht gültig</span>
        </div>
        @end
        @inputError('vorname')
        <div class="alert alert-danger" role="alert">
            <span>Der Vorname darf nicht leer sein oder kürzer als 3 Zeichen sein</span>
        </div>
        @end
        @inputError('nachname')
        <div class="alert alert-danger" role="alert">
            <span>Der Nachname darf nicht leer sein oder kürzer als 3 Zeichen sein</span>
        </div>
        @end
        @inputError('password')
        <div class="alert alert-danger" role="alert">
            <span>Das Passwort darf nicht leer sein und muss zwischen 8-20 Zeichen sein</span>
        </div>
        @end
        @if (flashMessages.has('succespasswordchange'))
        <div class="alert alert-success" role="alert">
            <span>{{flashMessages.get('succespasswordchange')}}</span>
        </div>
        @end
        @if (flashMessages.has('errorprofilepicture'))
        <div class="alert alert-danger" role="alert">
            <span>{{flashMessages.get('errorprofilepicture')}}</span>
        </div>
        @end
        @if (error)
        <div class="alert alert-danger" role="alert">
            <span>{{error}}</span>
        </div>
        @end
    </div>
    @include('partials/footer')
</body>

</html>