<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    @vite(['resources/css/app.css', 'resources/js/header.js'])
</head>

<body>

    @include('partials/header')
    <div class=" d-flex flex-row">

        <div class="routes_banner d-flex flex-column ">
            <span>Accountdaten</span>
            <span> <a href="#">Meine Anzeigen</a> </span>
            <span> <a href="#">Favorisierte<br>Anzeigen</a> </span>
            <span> <a href="#">Meine Nachrichten</a> </span>
        </div>
        <form action="/userprofile" method="post">
            <div class="d-flex flex-row profile-info ms-5 mt-3">
                <div class="d-flex flex-column">
                    <img src="/images/{{current_user.profilbild}}">
                    <label for="profile-file" class="profile-file-label fw-bold">Profilbild ändern:</label>
                    <input type="file" id="profile-file" name="profile">
                </div>

                <div class="flex-column d-flex ms-4">
                    <h3>Profilinformationen: </h3>

                    <div class="mt-3">
                        <label for="vorname" class="fw-bold">Vorname:</label>
                        <input type="text" id="vorname" name="vorname" placeholder="{{current_user.vorname}}">
                        <label for="nachname" class="fw-bold">Nachname:</label>
                        <input type="text" id="nachname" name="nachname" placeholder="{{current_user.nachname}}">
                    </div>
                    <div class="mt-3">
                        <label for="benutzername" class="fw-bold">Benutzername:</label>
                        <input type="text" id="benutzername" name="benutzername"
                            placeholder="{{current_user.benutzername}}">
                        <label for="email" class="fw-bold">Email:</label>
                        <input type="email" id="email" name="email" placeholder="{{current_user.email}}">
                    </div>

                    <div>
                        <h3>Kontaktdaten: </h3>

                    </div>
                </div>

            </div>
        </form>
        @include('partials/footer')
</body>

</html>