<!DOCTYPE html>
<html lang="en">

<head>
@include('partials/head')
<title>SlyFox Market - Chats</title>
    @vite(['resources/css/app.css', 'resources/css/chats.css' , 'resources/js/header.js'])

</head>

<body>

    @include('partials/header')
    <div class="d-flex flex-row">

        <div class="routes_banner d-flex flex-column ">
            <span><a href="/Profil">Accountdaten</a></span>
            <span> <a href="/Deine_Anzeigen">Meine Anzeigen</a> </span>
            <span> <a href="/Favorisierte_Anzeigen">Favorisierte<br>Anzeigen</a> </span>
            <span> Meine Nachrichten </span>
        </div>

        @if(chats.length === 0)
        <div class="h-auto w-100 text-center">
        <div class="alert alert-info ">Noch keine Chats vorhanden.</div>
        </div>
        @else
        <div class="container">
            @each(chat in chats)
            <div class="chat-card">
                <div class="preview-title">Anzeigenname: {{chat.itemName}}</div>
                <div class="chat-partner">Chatpartner: {{chat.sender}}</div>
                <div class="last-message">Letzte Nachricht: {{chat.Nachrichten}}</div>
                <div class="chat-actions ms-auto">
                    <a href="/Chat/{{chat.itemID}}/{{(chat.benutzername)}}/{{chat.sender}}">
                        <button class="chat-action-btn">Open Chat</button>
                    </a>
                </div>
            </div>
            @end
        </div>
        @end
    </div>
    @include('partials/footer')
</body>

</html>