<!DOCTYPE html>
<html lang="en">

<head>
@include('partials/head')
<title>SlyFox Market - Meine Anzeigen</title>
    @vite(['resources/css/app.css', 'resources/js/header.js'])
</head>

<body>
    @include('partials/header')
    <!-- Error and Succes Messages -->
    @if(flashMessages.has('successactivateitem'))
    <div class="alert alert-success" role="alert">
        {{ flashMessages.get('successactivateitem') }}
    </div>
    @elseif(flashMessages.has('successdeactivateitem'))
    <div class="alert alert-danger" role="alert">
        {{ flashMessages.get('successdeactivateitem') }}
    </div>
    @end
    <div class=" d-flex flex-row">
        <div class="routes_banner d-flex flex-column">
            <span> <a href="/Profil">Accountdaten</a> </span>
            <span> Meine Anzeigen</span>
            <span> <a href="/Favorisierte_Anzeigen">Favorisierte<br>Anzeigen</a> </span>
            <span> <a href="/Deine_Chats">Meine Nachrichten</a> </span>
        </div>
        @if(item.length === 0)
        <div class="h-auto w-100 text-center">
            <div class="alert alert-info ">Du hast noch keine Items hochgeladen</div>
        </div>
        @end
        <main class="pb-5">
            <div class="d-flex flex-row flex-wrap my-3 gap-3 ms-4">
                @each(item in itemImages)
                @include('partials/item_card')
                @end
            </div>
        </main>
    </div>
    @include('partials/footer')
</body>

</html>