<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    @vite(['resources/css/app.css', 'resources/css/chats.css' , 'resources/js/header.js'])

</head>

<body>

    @include('partials/header')
    <div class=" d-flex flex-row">

        <div class="routes_banner d-flex flex-column ">
            <span class="fw-light"><a href="/userprofile">Accountdaten</a></span>
            <span class="fw-light"> <a href="/youritems">Meine Anzeigen</a> </span>
            <span class="fw-light"> <a href="/favorites">Favorisierte<br>Anzeigen</a> </span>
            <span class="fw-bold"> Meine Nachrichten </span>
        </div>

        @if(chats.length === 0)
        <div class="alert alert-info">Noch keine Chats vorhanden.</div>
        @end

        <div class="container">
            @each(chat in chats)
            <div class="chat-card">
                <div class="preview-title">{{chat.itemName}}</div>
                <div class="last-message">{{chat.Nachrichten}}</div>
                <div class="chat-actions">
                    <a href="/chat/{{chat.itemID}}/{{chat.benutzername}}/{{current_user.benutzername}}">
                        <button class="chat-action-btn">Open Chat</button>
                    </a>
                </div>
            </div>
            @end
            @include('partials/footer')
</body>

</html>