<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
  @vite(['resources/css/app.css', 'resources/js/header.js'])

</head>

<body>
  @include('partials/header')

  @if(flashMessages.has('successadded'))
  <div class="alert alert-success" role="alert">
    {{flashMessages.get('successadded')}}
  </div>
  @elseif(flashMessages.has('successdelete'))
  <div class="alert alert-danger" role="alert">
    {{flashMessages.get('successdelete')}}
  </div>
  @elseif(flashMessages.has('error'))
  <div class="alert alert-danger" role="alert">
    {{flashMessages.get('error')}}
  </div>
  @end

  <div class="d-flex flex-row ms-5 gap-5 my-3">
    <div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false" data-bs-interval="false">
      <div class="carousel-inner">
        <div class="d-flex align-items-center image-container">
          @each((image, i) in itemImages)
          <div class="carousel-item {{i === 0? 'active': ''}} ">
            <div class="d-flex mt-auto justify-content-center">
              <img src="/images/{{ image.bildReferenz }}" alt="Product Image">
            </div>
          </div>
          @end
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <div>
      <div class="info-container">
        <h2 class="text-center">{{item.itemName}}</h2>
        <textarea class="px-3 info-description" rows="7" readonly>{{item.beschreibung === null ? '' : item.beschreibung}}</textarea>
        <div class="info-text ps-2 ">
          <p class="d-flex align-items-end">
            <span class="fw-bold fs-5">Preis: {{item.preis}}€</span>
            @if(item.verhandelbar === "Ja")
            <span class="fw-normal">(VB)</span>
            @end
            @if(item.versand !== '' && item.versand !== null)
            + <span class="fw-lighter" style="font-size: x-small">Versand: {{item.versand}}€ </span>
          </p>
          @end
        </div>
      </div>
      <div class="d-flex flex-row gap-2 my-3">
        <div class="profile-container">
          <div class="d-flex flex-row profile-data p-1">
            <img src="/images/{{ user.profilbild }}" alt="User Image">
            <div class="mx-auto">
              <span >Benutzername: {{user.benutzername}} </span>
              @if(user.bundesland !== '' && user.bundesland !== null)
              <span>Standort: {{user.bundesland}} </span>
              @end
            </div>
          </div>
        </div>


        <div class="button-container">

          <form action="#" method="post">
            {{ csrfField() }}
            <input type="hidden" name="itemID" value="{{item.itemID}}">
            <span class="d-flex flex-column mb-3"><button class="button-color-eins"><img
                  src="/images/money_icon.png">Preisvorschlag</button></span>
          </form>

          @if(!favorisiert)
          <form action="/anzeigeseite/{{ item.itemID }}" method="post">
            {{ csrfField() }}
            <input type="hidden" name="itemID" value="{{item.itemID}}">
            <span class="d-flex flex-column mb-3"><button class="button-color-zwei" type="submit"><img
                  src="/images/favorite_icon.png">Favorisieren</button></span>
          </form>
          @else
          <form action="/anzeigeseite/{{ item.itemID }}" method="post">
            {{ csrfField() }}
            <input type="hidden" name="itemID" value="{{item.itemID}}">
            <span class="d-flex flex-column mb-3"><button class="button-color-zwei" type="submit"><img
                  src="/images/favorite_icon.png">Nicht mehr Favorisieren</button></span>
          </form>
          @end

          <a href="/chat/{{item.itemID}}/{{user.benutzername}}/{{current_user.benutzername}}"><span
              class="d-flex flex-column mb-3"><button class="button-color-drei" type="submit"><img
                  src="/images/chat_icon.png">Kontaktieren</button></span></a>
        </div>
      </div>

    </div>

    @include('partials/footer')
</body>

</html>