<!DOCTYPE html>
<html lang="en">

<head>
@include('partials/head')
<title>SlyFox Market - AGB</title>
    @vite(['resources/css/app.css', 'resources/js/header.js'])
</head>

<body>
    @include('partials/header')
    <h1>Allgemeine Geschäftsbedingungen (AGB) - Slyfox Market</h1>
    
    <h2>Geltungsbereich</h2>
    <p>1. Diese Allgemeinen Geschäftsbedingungen gelten für alle Nutzer von Slyfox Market, nachfolgend als "die Plattform"
        bezeichnet.</p>
    
    <h2>Registrierung und Nutzerkonto</h2>
    <p>1. Zur Nutzung bestimmter Funktionen der Plattform ist eine Registrierung erforderlich. Der Nutzer ist verpflichtet,
        wahrheitsgemäße Angaben bei der Registrierung zu machen und seine Zugangsdaten vertraulich zu behandeln.<br>
        2. Der Nutzer ist allein für sämtliche Aktivitäten verantwortlich, die unter Verwendung seines Nutzerkontos
        stattfinden.<br>
        3. Der Nutzer darf sein Nutzerkonto nicht an Dritte weitergeben.</p>
    
    <h2>Anzeigen</h2>
    <p>1. Die Veröffentlichung von Anzeigen auf der Plattform erfolgt durch registrierte Nutzer.<br>
        2. Der Nutzer ist allein verantwortlich für den Inhalt seiner Anzeigen sowie für die Einhaltung gesetzlicher
        Vorschriften.<br>
        3. Die Plattform behält sich das Recht vor, Anzeigen ohne Angabe von Gründen abzulehnen oder zu entfernen.</p>
    
    <h2>Haftungsausschluss</h2>
    <p>1. Die Plattform übernimmt keine Haftung für die Richtigkeit, Vollständigkeit oder Aktualität der auf der Plattform
        veröffentlichten Inhalte.<br>
        2. Die Plattform haftet nicht für Schäden, die durch die Nutzung der Plattform oder durch Inhalte Dritter verursacht
        werden.</p>
    
    <h2>Änderungen der AGB</h2>
    <p>1. Die Plattform behält sich das Recht vor, diese Allgemeinen Geschäftsbedingungen jederzeit zu ändern.<br>
        2. Die geänderten AGB treten mit ihrer Veröffentlichung auf der Plattform in Kraft.</p>
        
    @include('partials/footer')
</body>

</html>