<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Homepage</title>
  <link rel="stylesheet" href="/Kleinanzeigen_Projekt/Kleinanzeigen_Website/resources/css/app.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
    @vite('resources/css/app.css')
  </head>
<body>
  @include('pages/components/header')

  <main>
    <div class="ms-3 row bottom-border mt-1 p-4">
      <div class="text-header col-2 me-5">
        <a href="#">
          Vorgeschlagene
          <br>
          Artikel
        </a>
      </div>
      <div class="d-flex col-9  flex-row gap-3">
        <div class="card p-1 border-dark accent-color box-shadow" style="width: 9rem;">
          <img
            src="https://static.wikia.nocookie.net/dekungfupanda/images/d/da/619px-PoKungfu.jpg/revision/latest?cb=20101229171556&path-prefix=de"
            class="card-img-top" alt="...">
          <p class="texte">Preis: '_'</p>
        </div>
        <div class="card  p-1 border-dark accent-color box-shadow" style="width: 9rem;">
          <img
            src="https://static.wikia.nocookie.net/dekungfupanda/images/d/da/619px-PoKungfu.jpg/revision/latest?cb=20101229171556&path-prefix=de"
            class="card-img-top" alt="...">
          <p class="texte">Preis: '_'</p>
        </div>
        <div class="card p-1 border-dark accent-color box-shadow" style="width: 9rem;">
          <img
            src="https://static.wikia.nocookie.net/dekungfupanda/images/d/da/619px-PoKungfu.jpg/revision/latest?cb=20101229171556&path-prefix=de"
            class="card-img-top" alt="...">
          <p class="texte">Preis: '_'</p>
        </div>
        <div class="card p-1 border-dark accent-color box-shadow" style="width: 9rem;">
          <img
            src="https://static.wikia.nocookie.net/dekungfupanda/images/d/da/619px-PoKungfu.jpg/revision/latest?cb=20101229171556&path-prefix=de"
            class="card-img-top" alt="...">
          <p class="texte">Preis: '_'</p>
        </div>
      </div>
    </div>
    <div class="ms-3 row bottom-border mt-1 p-4">
      <div class="text-header col-2 me-5">
        <a href="#">
          Favorisierte
          <br>
          Artikel
        </a>
      </div>
      <div class="d-flex col-9  flex-row gap-3">
        <div class="card p-1 border-dark accent-color box-shadow" style="width: 9rem;">
          <img
            src="https://static.wikia.nocookie.net/dekungfupanda/images/d/da/619px-PoKungfu.jpg/revision/latest?cb=20101229171556&path-prefix=de"
            class="card-img-top" alt="...">
          <p class="texte">Preis: '_'</p>
        </div>
        <div class="card  p-1 border-dark accent-color box-shadow" style="width: 9rem;">
          <img
            src="https://static.wikia.nocookie.net/dekungfupanda/images/d/da/619px-PoKungfu.jpg/revision/latest?cb=20101229171556&path-prefix=de"
            class="card-img-top" alt="...">
          <p class="texte">Preis: '_'</p>
        </div>
        <div class="card p-1 border-dark accent-color box-shadow" style="width: 9rem;">
          <img
            src="https://static.wikia.nocookie.net/dekungfupanda/images/d/da/619px-PoKungfu.jpg/revision/latest?cb=20101229171556&path-prefix=de"
            class="card-img-top" alt="...">
          <p class="texte">Preis: '_'</p>
        </div>
        <div class="card p-1 border-dark accent-color box-shadow" style="width: 9rem;">
          <img
            src="https://static.wikia.nocookie.net/dekungfupanda/images/d/da/619px-PoKungfu.jpg/revision/latest?cb=20101229171556&path-prefix=de"
            class="card-img-top" alt="...">
          <p class="texte">Preis: '_'</p>
        </div>
      </div>
    </div>

    <h1 style="margin-top: 100px;">leer</h1>
  </main>
  @include('pages/components/footer')
</body>

</html>