<!DOCTYPE html>
<html lang="de">

<head>
  @include('partials/head')
  <title>SlyFox Market - Homepage</title>
  @vite(['resources/css/app.css', 'resources/js/header.js'])
</head>

<body>
  @include('partials/header')

  <main class="pb-5">
    @if(error)
    <div class="alert alert-danger" role="alert">
      {{ error }}
    </div>
    @elseif(success)
    <div class="alert alert-success" role="alert">
      {{ success }}
    </div>
    @elseif(flashMessages.has('succeslogout'))
    <div class="alert alert-success" role="alert">
      {{ flashMessages.get('succeslogout') }}
    </div>
    @elseif(flashMessages.has('successcreate'))
    <div class="alert alert-success" role="alert">
      {{ flashMessages.get('successcreate') }}
    </div>
    @end

    <h2>Neusten Artikel</h2>

    @if(errorsearch)
    <div class="alert alert-info" role="alert">
      {{ errorsearch }}
    </div>
    @end

    <div class="d-flex flex-row flex-wrap my-3 gap-3 ms-4">
      @each(item in itemImages)
      @include('partials/item_card')
      @end
    </div>
  </main>

  @include('partials/footer')
</body>

</html>