<!DOCTYPE html>
<html lang="en">

<head>
@include('partials/head')
<title>SlyFox Market - Impressum</title>
    @vite(['resources/css/app.css', 'resources/js/header.js'])
</head>

<body>
    @include('partials/header')
    <div>
                    
    <h1>Impressum</h1>

    <p><strong>Slyfox Market</strong><br>
        Find Foxy Deals</p>

    <p><strong>Owner:</strong> Aziz Carducci<br>
        <strong>Contact:</strong> inf22009@lehre.dhbw-stuttgart.de
    </p>

    <p><strong>Responsible for content:</strong><br>
        Aziz Carducci</p>
    <a href="https://github.com/A2i2C/Kleinanzeigen_Projekt" target="_blank"><strong>GitHub</strong></a>
    </div>
    @include('partials/footer')
</body>

</html>