<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="/Kleinanzeigen_Projekt/Kleinanzeigen_Website/resources/css/login.css">
</head>
<body>
  <div class="page-container">
    <div class="login-box">
      <h1>Login</h1>
      <form action="#">
        <label for="username">Benutzername:</label>
        <input type="text" id="username" name="username" placeholder="Benutzername eingeben">
        <label for="password">Passwort:</label>
        <input type="password" id="password" name="password" placeholder="Passwort eingeben">
        <button type="submit">Login</button>
      </form>
      <p><a href="#">Noch kein Account? Hier registrieren</a></p>
      <p><a href="test.html">Zurück zur Homepage</a></p>
    </div>
  </div>
</body>
</html>
