<!DOCTYPE html>
<html lang="en">
<head>
@include('partials/head')
<title>SlyFox Market - Error</title>
    @vite(['resources/css/app.css', 'resources/js/header.js'])
</head>
<body>
    @include('partials/header')
     @if(flashMessages.has('nonexisting'))
        <div class="alert alert-danger" role="alert">
            {{ flashMessages.get('nonexisting') }}
        </div>
    @end
    @if(flashMessages.has('noaccess'))
        <div class="alert alert-danger" role="alert">
            {{ flashMessages.get('noaccess') }}
        </div>
    @end
    
    @include('partials/footer')
</body>
</html>