* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}
.navigation {
  align-items: center;
  padding: 5px 8px;
  margin-bottom: 15px;
}

.navigation .text {
  gap: 30px;
}

.bar {
  display: flex;
  align-items: center;
  border-radius: 7px;
  height: 38px;
}

.accent-color {
  background-color: #fff6eb;
}

.accent-color-border {
  border: 1px solid #fff6eb;
}

.primary-color {
  background-color: #0077b5;
  border-radius: 10px;
}

.box-shadow {
  box-shadow: 0px 1px 0px 1px rgba(9, 9, 9, 0.2);
}

.bottom-border {
  border-bottom: 1px solid #0077b5;
  margin-top: 20px;
}

.search-form input {
  width: auto;
  height: 38px;
  padding: 5px;
  border-radius: 7px;
}

.dropdown-menu {
  border: none;
}
.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-toggle {
  height: 38px;
  border-radius: 4px;
}

.head {
  align-items: baseline;
  margin-top: 10px;
  margin-bottom: 15px;
  gap: 20px;
}

.text-header {
  border-right: 1px solid #0077b5;
  padding: 1em;
  font-size: larger;
  line-height: 3em;
  text-align: center;
  font-weight: bold;
  gap: 20px;
}

.text-header a {
  text-decoration: none;
  color: black;
}

.text a {
  color: white;
}

li a {
  color: white;
}

.right-aligned {
  margin-left: auto;
}

.container {
  border: 3px solid #0077b5;
}
