/*Basic Zeug*/

html,
body {
  height: 100%;
  width: 100%;
}

.accent-color {
  background-color: #fff6eb;
}

.accent-color-border {
  border: 1px solid #fff6eb;
}

.primary-color {
  background-color: #0077b5;

}

input[type='text'],
input[type='number'] {
  width: auto;
  height: 38px;
  border-radius: 7px;
}

button {
  width: 50%;
  height: 38px;
  color: black;
  font-weight: 600;
  padding: 7px;
  border: 1px solid #0077b5;
  border-radius: 5px;
  cursor: pointer;
}

a {
  color: white;
  text-decoration: none;
}

/* Navigationsleiste*/
.navigation {
  padding: 5px 8px;
  margin-bottom: 15px;
}

.navigation .navtext,
.navtext a {
  gap: 30px;
  color: white;
}

.hidden {
  display: none;
}

.bar {
  border-radius: 7px;
  height: 38px;
}

header {
  border-bottom: 3px solid #0077b5;
}
 /*Footer*/

footer {
  color: white;
}

.textSmall {
  font-size: xx-small;
}

/*card-row*/
.text-header {
  border-right: 1px solid #0077b5;
  padding: 1em;
  font-size: larger;
  line-height: 3em;
  text-align: center;
  font-weight: bold;
  gap: 20px;
}

.text-header a {
  text-decoration: none;
  color: black;
}
.bottom-border {
  border-bottom: 1px solid #0077b5;
  margin-top: 20px;
}

/*Anzeigeaufgeben*/

.container input[type='text'],
input[type='number'] {
  padding: 1.2em;
}

.container {
  border: 3.7px solid #0077b5;
  width: 60%;
  height: auto;
  box-shadow: 2 2 2 2 black;
}

.input-style {
  border: 2px solid #0077b5;
  border-radius: 5px;
}

.input-style:focus {
  outline: none;
}

#dropzone {
  width: 300px;
  height: 200px;
  border: 2px dashed #0077b5;
  text-align: center;
  border-radius: 5px;
}

#preview-container {
  width: 200px;
  height: 80px;
  overflow-x: auto;
}

#preview-container img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  opacity: 0.7;
}

.image-container {
  background-color: #fff6eb;
  width: 530px;
  height: 370px;
}

.image-container img {
  width: 450px;
  height: 300px;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.image-container img:hover {
  transform: scale(1.1);
  z-index: 1;
}

.info-container {
  border: 3px solid #0077b5;
  width: auto;
  height: auto;
}

.profile-container {
  border: 3px solid #0077b5;
  width: 35vw;
  height: auto;
}

.button-container {
  width: 34vw;
}

.profile-image img {
  border-right: 1px solid #0077b5;
  padding: 10%;
  width: 90px;
  height: 90px;
  object-fit: fill;
}

.info-description {
  outline: none;
  resize: none;
  border: none;
  overflow: auto;
}

.info-text {
  border-top: 1px solid #0077b5;
  text-align: center;
  align-items: center;
  padding: 20px 20px 10px 20px;
  margin: 0 -1px 0 -1px;
}

.button-container button:nth-child(1) {
  background-color: #1abc9c;
}
.button-container button:nth-child(2) {
  background-color: #ffd4c1;
}

.headerProfile img {
  width: 80px;
  height: 80px;
}

.headerProfile a {
  color: #0077b5;
}
