* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}
.navigation {
  align-items: center;
  padding: 5px 8px;
  margin-bottom: 15px;
}

.navigation .text {
  gap: 30px;
}

.bar {
  display: flex;
  align-items: center;
  border-radius: 7px;
  height: 38px;
}

.accent-color {
  background-color: #fff6eb;
}

.accent-color-border {
  border: 1px solid #fff6eb;
}

.primary-color {
  background-color: #0077b5;
  border-radius: 10px;
}

button {
  width: 40%;
  height: auto;
  color: #fff;
  padding: 7px;
  border: 1px solid #0077b5;
  border-radius: 5px;
  cursor: pointer;
}

.box-shadow {
  box-shadow: 0px 1px 0px 1px rgba(9, 9, 9, 0.2);
}

.bottom-border {
  border-bottom: 1px solid #0077b5;
  margin-top: 20px;
}

input[type='text'],
input[type='number'] {
  width: auto;
  height: 38px;
  padding: 1.2em;
  border-radius: 7px;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-toggle {
  height: 38px;
  border-radius: 4px;
}

.head {
  align-items: baseline;
  margin-top: 10px;
  margin-bottom: 15px;
  gap: 20px;
}

.text-header {
  border-right: 1px solid #0077b5;
  padding: 1em;
  font-size: larger;
  line-height: 3em;
  text-align: center;
  font-weight: bold;
  gap: 20px;
}

.text-header a {
  text-decoration: none;
  color: black;
}

.text a,
li a {
  color: white;
}

.container {
  border: 3.7px solid #0077b5;
  width: 60%;
  box-shadow: 2 2 2 2 black;
}

input:focus {
  outline: invert;
}

.input-style {
  border: 2px solid #0077b5;
  border-radius: 5px;
}

#category {
  outline: none;
}

#dropzone {
  width: 300px; /* Adjust width as needed */
  height: 200px; /* Adjust height as needed */
  border: 2px dashed #0077b5;
  text-align: center;
  border-radius: 5px;
}

#preview-container {
  width: 300px; /* Match the width of the dropzone */
  height: 80px; /* Adjust height as needed */
  overflow-x: auto; /* Enable scrollbar for overflow */
}

#preview-container img {
  width: 75px; /* Adjust thumbnail width as needed */
  height: 75px; /* Adjust thumbnail height as needed */
  opacity: 0.7; /* Set opacity for a lowered effect */
}
