<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    @vite('ressources/css/app.css')
</head>
<body>
    <body>
        <form action="/kontakt" method="POST">
            {{ csrfField() }}
            <div>
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>
            </div>
            <div>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div>
                <label for="message">Nachricht:</label>
                <textarea id="message" name="message" required></textarea>
            </div>
            <button type="submit">Absenden</button>
        </form>
</body>
</html>