<!DOCTYPE html>
<html>

<head>
    <title>Neue Kontaktanfrage</title>
</head>

<body>
    <h1>Neue Kontaktanfrage</h1>
    <p><strong>Name:</strong> {{ name }}</p>
    <p><strong>Email:</strong> {{ email }}</p>
    <p><strong>Nachricht:</strong></p>
    <p>{{ message }}</p>
</body>

</html>